<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/styles.css') }}">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <title>Chat Bot</title>
    
</head>
<body>
    <div id="container">
        <div id="chat-list">
            <h2>Lista de Chats</h2>
            <ul id="chats"></ul>
            <button id="add-chat-button">Adicionar Chat</button>
        </div>
        <div id="chat-area">
            <div id="chat-header">
                <h2>Chat</h2>
            </div>
            <div id="chat-messages">
                <div id="typing-indicator"></div>
            </div>
            <div id="chat-input">
                <input type="text" id="message-input" placeholder="Digite sua mensagem">
                <button id="send-button">Enviar</button>
            </div> 
        </div>
    </div>
    <script src="{{ url_for('static', path='/javascript/scripts.js') }}"></script>
</body>
</html>
